
@{
    Layout = null;
}
<html>
<head>
    <title>E-posta Doğrulama</title>
</head>
<body>
    <h2>E-posta Doğrulama</h2>
    <p>
        Kaydınız için teşekkür ederiz. Mailiniz doğrulanmıştır.
    </p>
    <p>
        
    </p>
</body>
</html>