@* @model EkstraMalzemeVM

@{
    ViewData["Title"] = "EkstraMalzemeEkle";
}

<h1>EkstraMalzemeEkle</h1>

<h4>EkstraMalzeme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EkstraMalzemeEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <label asp-for="EkstraMalzeme.EkstraMalzemeAdi" class="control-label"></label>
                <input asp-for="EkstraMalzeme.EkstraMalzemeAdi" class="form-control" />
                <span asp-validation-for="EkstraMalzeme.EkstraMalzemeAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkstraMalzeme.EkstraMalzemeFiyati" class="control-label"></label>
                <input asp-for="EkstraMalzeme.EkstraMalzemeFiyati" class="form-control" />
                <span asp-validation-for="EkstraMalzeme.EkstraMalzemeFiyati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkstraMalzeme.ParaBirimi" class="control-label"></label>
                <input asp-for="EkstraMalzeme.ParaBirimi" class="form-control" />
                <span asp-validation-for="EkstraMalzeme.ParaBirimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@